<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-2'>Filtriraj:</div>
            <div class='col-md-4'>
                <input type='text'
                        [(ngModel)]='listFilter'/>
            </div>
        </div>
        <div class='row'>
                <div class='col-md-6'>
                        <h3>Filter: {{listFilter}}</h3>
                    </div>
        </div>
        <div class='panel-body'>
            <a class='btn btn-default' [routerLink]="['/drugEdit/0']" style='width:120px'>
                <i class='glyphicon glyphicon glyphicon-plus'></i> Novi lek
            </a>
        </div>
        <div class='table-responsive'>
            <table class='table'
                    *ngIf='drugs && drugs.length'>
                <thead>
                    <tr>
                        <th>Lek</th>
                        <th>Jačina</th>
                        <th>Pakovanje</th>
                        <th>INN</th>
                        <th>Proizvođač</th>
                        <th>Cena</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let drug of filteredDrugs'>
                        <td><a [routerLink]="['/drugs', drug.id]">{{drug.name}}</a></td>
                        <td>{{drug.dosage}}</td>
                        <td>{{drug.drugForm | lowercase}}</td>
                        <td>{{drug.drugInn}}</td>
                        <td>{{drug.drugManufacturer| uppercase}}</td>
                        <td>{{drug.price | currency :'RSD':true:'1.2-2'}}</td>
                        <td>
                            <a class="btn btn-primary" 
                               [routerLink]="['/drugEdit', drug.id]">
                                Edit
                            </a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>